html {
    font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: rgba(16, 233, 215, 0.178);
}

.d1-3{
  display: flex;
}

.d4-10{
  display: flex;
  flex-direction: row-reverse;
}

.d4-6{
  display: flex;
  flex-direction: column-reverse;
}

.d7-10{
  display: flex;
  flex-direction: column;
}

.d7-8, .d9-10{
  display: flex;
  flex-direction: row;
  flex: 1;
}